<div>

    <table style="margin: 50px 30%;">
      <tr>
        <th>Paremeter</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Id</td>
        <td>{{ganttDataMessage[0].id}}</td>
      </tr>
      <tr>
        <td>Text</td>
        <td>{{ganttDataMessage[0].text}}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{ganttDataMessage[0].start_date}}</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{ganttDataMessage[0].duration}}</td>
      </tr>
      <tr>
        <td>Progress</td>
        <td>{{ganttDataMessage[0].progress}}</td>
      </tr>
    </table>
  </div>
